---
http_interactions:
- request:
    method: get
    uri: https://www.feefo.com/feefo/xmlfeed.jsp?json=true&limit=9&logon=www.sealinktravelgroup.com.au/SeaLink%20KI&mode=both&vendorref=HTCC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {"FEEDBACKLIST": {
            "FEEDBACK": [
                {
                    "COUNT": 1,
                    "CUSTOMERCOMMENT": "Great trip over and back and very enjoyable day tour",
                    "DATE": "40 Hour(s) ago",
                    "DESCRIPTION": "KI Experience",
                    "FACEBOOKSHARELINK": "http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.feefo.com%2FAU%2Fen%2Freviews%2FSeaLink-Kangaroo-Island_Tours%2F%3Fid%3D987195%26servicefeedbackid%3D101092",
                    "FEEDBACKID": 101092,
                    "HREVIEWDATE": "2016-05-02T12:43:36",
                    "HREVIEWRATING": 5,
                    "LINK": "http://www.sealink.com.au/kangaroo-island-tours/1-day-tours/kangaroo-island-highlights-day-tour/",
                    "PRODUCTCODE": "HTCC",
                    "READMOREURL": "http://www.feefo.com/AU/en/reviews/SeaLink-Kangaroo-Island_Tours/?id=987195&servicefeedbackid=101092",
                    "SERVICERATING": "++",
                    "SHORTCUSTOMERCOMMENT": "Great trip over and back and very enjoyable day tour"
                },
                {
                    "COUNT": 2,
                    "CUSTOMERCOMMENT": "Ferry was on time, staff were most certainly friendly and helpful.....clean and tidy ferry inside.",
                    "DATE": "01-May-2016",
                    "DESCRIPTION": "KI Experience",
                    "FACEBOOKSHARELINK": "http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.feefo.com%2FAU%2Fen%2Freviews%2FSeaLink-Kan[...]
