---
http_interactions:
- request:
    method: get
    uri: http://www.feefo.com/feefo/xmlfeed.jsp?json=true&limit=9&logon=www.sealinktravelgroup.com.au/SeaLink%20KI&mode=both&vendorref=HTCC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {"FEEDBACKLIST": {
            "FEEDBACK": [
                {
                    "COUNT": 1,
                    "CUSTOMERCOMMENT": "Service rating : Generally quality service and great Guide, Steve, with vast experience and knowledge<br/>Product : Good but food could have been better",
                    "DATE": "21-Oct-2015",
                    "DESCRIPTION": "KI Experience",
                    "FACEBOOKSHARELINK": "http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.feefo.com%2FAU%2Fen%2Freviews%2FSeaLink-Kangaroo-Island_Tours%2F%3Fid%3D987195%26servicefeedbackid%3D67127",
                    "FEEDBACKID": 67127,
                    "HREVIEWDATE": "2015-10-21T05:27:07",
                    "HREVIEWRATING": 4,
                    "LINK": "http://www.sealink.com.au/kangaroo-island-tours/1-day-tours/kangaroo-island-highlights-day-tour/",
                    "PRODUCTCODE": "HTCC",
                    "PRODUCTRATING": "+",
                    "READMOREURL": "http://www.feefo.com/AU/en/reviews/SeaLink-Kangaroo-Island_Tours/?id=987195&servicefeedbackid=67127",
                    "SERVICERATING": "+",
                    "SHORTCUSTOMERCOMMENT": "Service rating : Generally quality service and great Guide, Steve, with vast experience and knowledge<br/>Product : Good but food could have been better"
                },
                {
                    "COUNT": 2,
                    "CUSTOMERCOMMENT": "Service rating : It was a great trip!! I thought the 30 minutes we had at each stop was perfect. I just wish someone would've warned me about all the flies buzzing around everywhere! I would've put on some bug spray.<br/>Product : Our [...]
